In [2]:
import pandas as pd
import numpy as np
import os
import geopandas as gpd

pd.set_option("display.max_columns",200)

In [27]:
hro = pd.read_excel(r".\Data\Denver PNR 2024 results_cleaned.xlsx", sheet_name = "tod_o")
hrd = pd.read_excel(r".\Data\Denver PNR 2024 results_cleaned.xlsx", sheet_name = "tod_d")
od = pd.read_excel(r".\Data\Denver PNR 2024 results_cleaned.xlsx", sheet_name = "OD_data")

In [29]:
hro.head()

,station,hr0-6,hr6,hr7,hr8,hr9,hr10,hr11,hr12,hr13,hr14,hr15,hr16,hr17,hr18,hr19,hr20,hr21,hr22,hr23
0,40th Ave & Airport Blvd,1827,659,826,516,455,427,654,836,986,1368,1368,952,891,637,552,594,812,816,863
1,Peoria Station,582,209,225,196,165,171,193,263,280,298,332,302,278,188,164,160,197,207,173
2,Central Park,437,280,442,401,400,419,468,543,496,557,864,710,621,382,340,288,324,288,209
3,40th & Colorado Station,167,70,89,109,88,85,116,95,114,93,122,113,119,85,76,43,48,32,34
4,38th & Blake,383,99,193,153,144,141,142,153,141,156,235,244,244,200,246,252,399,1164,779

In [30]:
hrd.head()

,station,"hr0,6",hr6,hr7,hr8,hr9,hr10,hr11,hr12,hr13,hr14,hr15,hr16,hr17,hr18,hr19,hr20,hr21,hr22,hr23
0,40th Ave & Airport Blvd,6042,1760,1619,1211,957,1072,1574,1982,1889,1381,1171,1072,855,714,740,829,896,635,524
1,Peoria Station,1888,630,671,533,458,462,623,693,719,528,501,460,401,346,363,422,386,277,229
2,Central Park,1513,1357,1201,997,758,782,874,1044,855,723,793,792,645,457,418,439,340,237,160
3,40th & Colorado Station,400,163,177,163,165,175,217,192,205,210,242,212,217,181,186,147,139,94,91
4,38th & Blake,453,222,224,208,243,199,197,202,197,193,291,531,936,1658,1512,691,342,239,112

In [4]:
od = od.fillna(0)
od['trips'] = od[['Q2total','Q3total','Q4total']].sum(axis=1)

In [5]:
od

,Origin,Destination,Q2total,Q3total,Q4total,trips
0,40th Ave & Airport Blvd,40th Ave & Airport Blvd,61,89,110,260
1,40th Ave & Airport Blvd,Peoria Station,9,9,13,31
2,40th Ave & Airport Blvd,Central Park,3,5,11,19
3,40th Ave & Airport Blvd,40th & Colorado Station,1,1,0,2
4,40th Ave & Airport Blvd,38th & Blake,0,0,0,0
...,...,...,...,...,...,...
178079,External,Region 601,5639,5505,4589,15733
178080,External,Region 602,159,192,93,444
178081,External,Region 603,1243,872,342,2457
178082,External,Region 604,620,682,499,1801
178083,External,External,1378027,1537925,1310816,4226768

In [6]:
region = gpd.read_file(r".\Data\Denver PNR 2024 weekdays.geojson")

In [7]:
region.head()

,name,i,geometry
0,40th Ave & Airport Blvd,0,"POLYGON ((-104.78751 39.77056, -104.78752 39.7..."
1,Peoria Station,1,"POLYGON ((-104.85274 39.76723, -104.85273 39.7..."
2,Central Park,2,"POLYGON ((-104.8964 39.77071, -104.89597 39.77..."
3,40th & Colorado Station,3,"POLYGON ((-104.94484 39.7759, -104.94484 39.77..."
4,38th & Blake,4,"POLYGON ((-104.97449 39.77233, -104.97351 39.7..."

In [8]:
region.tail()

           name    i                                           geometry
416  Region 600  416  POLYGON ((-104.60197 39.75915, -104.61368 39.7...
417  Region 601  417  POLYGON ((-104.60197 39.728, -104.61368 39.712...
418  Region 602  418  POLYGON ((-104.60197 39.69684, -104.61368 39.6...
419  Region 603  419  POLYGON ((-104.60197 39.66569, -104.61368 39.6...
420  Region 604  420  POLYGON ((-104.60197 39.63454, -104.61368 39.6...

In [9]:
tracts = gpd.read_file(r"F:\NationalData\Geography\2022geo\tl_2022_08_tract.shp")

In [10]:
tracts.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,08,014,030200,08014030200,302,Census Tract 302,G5020,S,2583455,26498,+39.9087252,-105.0745694,"POLYGON ((-105.09092 39.91435, -105.09082 39.9..."
1,08,035,014504,08035014504,145.04,Census Tract 145.04,G5020,S,6443623,0,+39.3682701,-104.8427247,"POLYGON ((-104.86585 39.36577, -104.86584 39.3..."
2,08,041,005122,08041005122,51.22,Census Tract 51.22,G5020,S,36853007,59661,+38.9065029,-104.6568768,"POLYGON ((-104.68294 38.91189, -104.68291 38.9..."
3,08,041,005114,08041005114,51.14,Census Tract 51.14,G5020,S,2430089,0,+38.8458435,-104.6912312,"POLYGON ((-104.70159 38.84474, -104.70102 38.8..."
4,08,041,004513,08041004513,45.13,Census Tract 45.13,G5020,S,7147564,15326,+38.7042342,-104.7160698,"POLYGON ((-104.73516 38.72867, -104.73511 38.7..."

In [11]:
tracts_pop = pd.read_csv(r".\Data\ACSDP5Y2024.DP05_2026-02-26T152902\ACSDP5Y2024.DP05-Data.csv")

In [12]:
tracts_pop = tracts_pop.loc[1:]
tracts_pop = tracts_pop[['GEO_ID','DP05_0001E']].rename(columns = {'DP05_0001E':'pop'})

In [13]:
tracts_pop

                    GEO_ID   pop
1     1400000US08001007801  4108
2     1400000US08001007802  4323
3     1400000US08001007900  6735
4     1400000US08001008000  5597
5     1400000US08001008100  1676
...                    ...   ...
1443  1400000US08123002300  6650
1444  1400000US08123002501  5746
1445  1400000US08123002502  7672
1446  1400000US08125963100  4295
1447  1400000US08125963200  5684

[1447 rows x 2 columns]

In [14]:
# ── Fix GEO_ID format and merge population into tracts ───────────────────────
# tracts_pop GEO_ID looks like "1400000US08001007801"
# tracts GEOID looks like           "08001007801"
tracts_pop['GEOID'] = tracts_pop['GEO_ID'].str.replace('1400000US', '', regex=False)
tracts_pop['pop']   = pd.to_numeric(tracts_pop['pop'], errors='coerce').fillna(0)

tracts = tracts.merge(tracts_pop[['GEOID', 'pop']], on='GEOID', how='left')
tracts['pop'] = tracts['pop'].fillna(0)

print(f"Tracts total: {len(tracts)}")
print(f"Tracts with population > 0: {(tracts['pop'] > 0).sum()}")
tracts[['GEOID', 'pop']].head()

Tracts total: 1447
Tracts with population > 0: 1437

         GEOID    pop
0  08014030200   2364
1  08035014504   5945
2  08041005122  13622
3  08041005114   1850
4  08041004513   3655

In [ ]:
# ── Separate region GDF into PnR locations vs hex regions ────────────────────
# Regions are named "Region XXX"; PnR locations have real street names
pnr_gdf    = region[~region['name'].str.startswith('Region')].copy()
region_gdf = region[ region['name'].str.startswith('Region')].copy()

pnr_names = set(pnr_gdf['name'])

print(f"PnR locations : {len(pnr_gdf)}")
print(f"Hex regions   : {len(region_gdf)}")

# ── Filter OD data ────────────────────────────────────────────────────────────
# Drop External on either side
od_clean = od[
    (od['Origin']      != 'External') &
    (od['Destination'] != 'External')
].copy()

od_clean['orig_is_pnr'] = ~od_clean['Origin'].str.startswith('Region')
od_clean['dest_is_pnr'] = ~od_clean['Destination'].str.startswith('Region')

# Keep only PnR→Region and Region→PnR  (drop PnR→PnR and Region→Region)
pnr_to_region = od_clean[ od_clean['orig_is_pnr'] & ~od_clean['dest_is_pnr']][['Origin', 'Destination', 'trips']].copy()
region_to_pnr = od_clean[~od_clean['orig_is_pnr'] &  od_clean['dest_is_pnr']][['Origin', 'Destination', 'trips']].copy()

print(f"\nPnR→Region rows : {len(pnr_to_region):,}  |  trips : {pnr_to_region['trips'].sum():,.0f}")
print(f"Region→PnR rows : {len(region_to_pnr):,}  |  trips : {region_to_pnr['trips'].sum():,.0f}")

PnR locations : 33
Hex regions   : 388

PnR→Region rows : 12,804  |  trips : 118,657
Region→PnR rows : 12,804  |  trips : 190,523

In [19]:
pnr_to_region[pnr_to_region['Origin'] == '40th Ave & Airport Blvd']['trips'].sum()

15513

In [16]:
# ── Reproject everything to EPSG 3857 (metres) for accurate area calculation ──
region_gdf = region_gdf.to_crs(3857)
tracts     = tracts.to_crs(3857)

tracts['tract_area'] = tracts.geometry.area   # m²

print(f"region_gdf CRS : {region_gdf.crs}")
print(f"tracts CRS     : {tracts.crs}")

# ── Spatial overlay: hex regions × census tracts ──────────────────────────────
intersect_gdf = gpd.overlay(
    region_gdf[['name', 'geometry']],
    tracts[['GEOID', 'pop', 'tract_area', 'geometry']],
    how='intersection'
)
intersect_gdf['intersect_area'] = intersect_gdf.geometry.area

print(f"\nIntersection pieces: {len(intersect_gdf):,}")

region_gdf CRS : EPSG:3857
tracts CRS     : EPSG:3857

Intersection pieces: 2,248

In [20]:
# ── Compute region→tract weights ──────────────────────────────────────────────
#
# Logic (mirrors the example):
#   1. Each intersection piece gets a share of its tract's population
#      proportional to what fraction of the tract it covers:
#          pop_allocated = tract_pop × (intersect_area / tract_area)
#   2. For each hex region, sum those allocated pops to get the region total.
#   3. weight = pop_allocated / region_total_pop
#      → weights per region sum to 1 and tell us how to split trips to tracts.
#   4. Fallback to area-based weight for regions with zero population.

# Step 1 – allocate pop by area share within the tract
intersect_gdf['pop_allocated'] = (
    intersect_gdf['pop'] * (intersect_gdf['intersect_area'] / intersect_gdf['tract_area'])
)

# Step 2 – total allocated pop per region (denominator)
region_total_pop  = intersect_gdf.groupby('name')['pop_allocated'].sum().rename('region_total_pop')
region_total_area = intersect_gdf.groupby('name')['intersect_area'].sum().rename('region_total_area')

intersect_gdf = intersect_gdf.join(region_total_pop,  on='name')
intersect_gdf = intersect_gdf.join(region_total_area, on='name')

# Step 3 – weight (pop-based, area fallback for zero-pop regions)
intersect_gdf['pop_weight']  = intersect_gdf['pop_allocated']   / intersect_gdf['region_total_pop']
intersect_gdf['area_weight'] = intersect_gdf['intersect_area']  / intersect_gdf['region_total_area']
intersect_gdf['weight'] = np.where(
    intersect_gdf['region_total_pop'] > 0,
    intersect_gdf['pop_weight'],
    intersect_gdf['area_weight']
)

region_tract_weights = intersect_gdf[['name', 'GEOID', 'weight']].copy()

# Sanity check: weights should sum to ~1.0 per region
weight_sums = region_tract_weights.groupby('name')['weight'].sum()
print("Weight-sum stats per region (should all be ~1.0):")
print(weight_sums.describe().round(4))
region_tract_weights.head()

Weight-sum stats per region (should all be ~1.0):
count    388.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: weight, dtype: float64

         name        GEOID    weight
0  Region 132  08013013704  0.759900
1  Region 132  08013012701  0.125675
2  Region 132  08013013202  0.053503
3  Region 132  08013013601  0.060922
4  Region 133  08013013704  0.690218

In [21]:
# ── PnR → Region  →  PnR → Tract ─────────────────────────────────────────────
pnr_to_tract = (
    pnr_to_region
    .merge(region_tract_weights, left_on='Destination', right_on='name', how='left')
)

pnr_to_tract['trips_allocated'] = pnr_to_tract['trips'] * pnr_to_tract['weight']

pnr_to_tract = (
    pnr_to_tract
    .groupby(['Origin', 'GEOID'])['trips_allocated']
    .sum()
    .reset_index()
    .rename(columns={'Origin': 'pnr', 'GEOID': 'tract_id', 'trips_allocated': 'trips'})
)

print(f"PnR→Tract rows  : {len(pnr_to_tract):,}")
print(f"Trips in        : {pnr_to_region['trips'].sum():,.1f}")
print(f"Trips out       : {pnr_to_tract['trips'].sum():,.1f}  (difference due to regions outside tract coverage)")
pnr_to_tract.head()

PnR→Tract rows  : 25,047
Trips in        : 118,657.0
Trips out       : 118,657.0  (difference due to regions outside tract coverage)

            pnr     tract_id     trips
0  38th & Blake  08001007801  2.280609
1  38th & Blake  08001007802  2.661140
2  38th & Blake  08001007900  3.739022
3  38th & Blake  08001008000  5.901937
4  38th & Blake  08001008100  3.441758

In [22]:
pnr_to_tract[pnr_to_tract['pnr'] == '40th Ave & Airport Blvd']['trips'].sum()

15513.0

In [24]:
pnr_to_tract['tract_id'].nunique()

759

In [23]:
# ── Region → PnR  →  Tract → PnR ─────────────────────────────────────────────
tract_to_pnr = (
    region_to_pnr
    .merge(region_tract_weights, left_on='Origin', right_on='name', how='left')
)

tract_to_pnr['trips_allocated'] = tract_to_pnr['trips'] * tract_to_pnr['weight']

tract_to_pnr = (
    tract_to_pnr
    .groupby(['GEOID', 'Destination'])['trips_allocated']
    .sum()
    .reset_index()
    .rename(columns={'GEOID': 'tract_id', 'Destination': 'pnr', 'trips_allocated': 'trips'})
)

print(f"Tract→PnR rows  : {len(tract_to_pnr):,}")
print(f"Trips in        : {region_to_pnr['trips'].sum():,.1f}")
print(f"Trips out       : {tract_to_pnr['trips'].sum():,.1f}  (difference due to regions outside tract coverage)")
tract_to_pnr.head()

Tract→PnR rows  : 25,047
Trips in        : 190,523.0
Trips out       : 190,523.0  (difference due to regions outside tract coverage)

      tract_id                        pnr      trips
0  08001007801               38th & Blake   5.538622
1  08001007801    40th & Colorado Station   0.868803
2  08001007801    40th Ave & Airport Blvd  15.095459
3  08001007801                 41st & Fox   1.411806
4  08001007801  8th & Coffman Park-n-Ride   0.000000

In [25]:
# ── Save outputs ──────────────────────────────────────────────────────────────
out_dir = r".\Data"

pnr_to_tract.to_csv(os.path.join(out_dir, "pnr_to_tract_trips.csv"), index=False)
tract_to_pnr.to_csv(os.path.join(out_dir, "tract_to_pnr_trips.csv"), index=False)

print("Saved:")
print(f"  pnr_to_tract_trips.csv  — {len(pnr_to_tract):,} rows")
print(f"  tract_to_pnr_trips.csv  — {len(tract_to_pnr):,} rows")

Saved:
  pnr_to_tract_trips.csv  — 25,047 rows
  tract_to_pnr_trips.csv  — 25,047 rows