In [2]:
import pandas as pd
import numpy as np
import os
import geopandas as gpd

pd.set_option("display.max_columns",200)

In [8]:
# hro = pd.read_excel(r".\Data\Denver PNR 2024 results_cleaned.xlsx", sheet_name = "tod_o")
# hrd = pd.read_excel(r".\Data\Denver PNR 2024 results_cleaned.xlsx", sheet_name = "tod_d")
od = pd.read_excel(r".\Data\Denver PNR 2024 results_cleaned.xlsx", sheet_name = "OD_data")

In [10]:
od = od.fillna(0)
od['trips'] = od[['Q2total','Q3total','Q4total']].sum(axis=1)

In [11]:
od

,Origin,Destination,Q2total,Q3total,Q4total,trips
0,40th Ave & Airport Blvd,40th Ave & Airport Blvd,61,89,110,260
1,40th Ave & Airport Blvd,Peoria Station,9,9,13,31
2,40th Ave & Airport Blvd,Central Park,3,5,11,19
3,40th Ave & Airport Blvd,40th & Colorado Station,1,1,0,2
4,40th Ave & Airport Blvd,38th & Blake,0,0,0,0
...,...,...,...,...,...,...
178079,External,Region 601,5639,5505,4589,15733
178080,External,Region 602,159,192,93,444
178081,External,Region 603,1243,872,342,2457
178082,External,Region 604,620,682,499,1801
178083,External,External,1378027,1537925,1310816,4226768

In [12]:
region = gpd.read_file(r".\Data\Denver PNR 2024 weekdays.geojson")

In [13]:
region.head()

,name,i,geometry
0,40th Ave & Airport Blvd,0,"POLYGON ((-104.78751 39.77056, -104.78752 39.7..."
1,Peoria Station,1,"POLYGON ((-104.85274 39.76723, -104.85273 39.7..."
2,Central Park,2,"POLYGON ((-104.8964 39.77071, -104.89597 39.77..."
3,40th & Colorado Station,3,"POLYGON ((-104.94484 39.7759, -104.94484 39.77..."
4,38th & Blake,4,"POLYGON ((-104.97449 39.77233, -104.97351 39.7..."

In [14]:
region.tail()

           name    i                                           geometry
416  Region 600  416  POLYGON ((-104.60197 39.75915, -104.61368 39.7...
417  Region 601  417  POLYGON ((-104.60197 39.728, -104.61368 39.712...
418  Region 602  418  POLYGON ((-104.60197 39.69684, -104.61368 39.6...
419  Region 603  419  POLYGON ((-104.60197 39.66569, -104.61368 39.6...
420  Region 604  420  POLYGON ((-104.60197 39.63454, -104.61368 39.6...

In [15]:
tracts = gpd.read_file(r"F:\NationalData\Geography\2022geo\tl_2022_08_tract.shp")

In [16]:
tracts.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,08,014,030200,08014030200,302,Census Tract 302,G5020,S,2583455,26498,+39.9087252,-105.0745694,"POLYGON ((-105.09092 39.91435, -105.09082 39.9..."
1,08,035,014504,08035014504,145.04,Census Tract 145.04,G5020,S,6443623,0,+39.3682701,-104.8427247,"POLYGON ((-104.86585 39.36577, -104.86584 39.3..."
2,08,041,005122,08041005122,51.22,Census Tract 51.22,G5020,S,36853007,59661,+38.9065029,-104.6568768,"POLYGON ((-104.68294 38.91189, -104.68291 38.9..."
3,08,041,005114,08041005114,51.14,Census Tract 51.14,G5020,S,2430089,0,+38.8458435,-104.6912312,"POLYGON ((-104.70159 38.84474, -104.70102 38.8..."
4,08,041,004513,08041004513,45.13,Census Tract 45.13,G5020,S,7147564,15326,+38.7042342,-104.7160698,"POLYGON ((-104.73516 38.72867, -104.73511 38.7..."

In [23]:
tracts_pop = pd.read_csv(r".\Data\ACSDP5Y2024.DP05_2026-02-26T152902\ACSDP5Y2024.DP05-Data.csv")

In [24]:
tracts_pop = tracts_pop.loc[1:]
tracts_pop = tracts_pop[['GEO_ID','DP05_0001E']].rename(columns = {'DP05_0001E':'pop'})

In [25]:
tracts_pop

                    GEO_ID   pop
1     1400000US08001007801  4108
2     1400000US08001007802  4323
3     1400000US08001007900  6735
4     1400000US08001008000  5597
5     1400000US08001008100  1676
...                    ...   ...
1443  1400000US08123002300  6650
1444  1400000US08123002501  5746
1445  1400000US08123002502  7672
1446  1400000US08125963100  4295
1447  1400000US08125963200  5684

[1447 rows x 2 columns]